@inherits UmbracoViewPage<ContactFormViewModel>
@using USNSiteBuilder.Core.Models
@using USNSiteBuilder.Core.Extensions

@if (Model.ContactRecipientEmailAddress.HasValue())
{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Umbraco.Content(Model.GlobalSettingsID);

    var reCAPTCHAV3responseId = "ReCAPTCHAV3_Response_" + Model.UniqueID;

    if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
    {
        var reCAPTCHAV3Script = "<script>" +
            "var interval_" + Model.UniqueID.Replace("-", "") + " = setInterval(function() {" +
                "if(window.grecaptcha){" +
                    "grecaptcha.ready(function () { " +
                        "grecaptcha.execute('" + globalSettings.GoogleReCaptchav3SiteKey + "', { action: 'contact'}).then(function(token) {" +
                        "document.getElementById('" + reCAPTCHAV3responseId + "').value = token;" +
                        "});" +
                    "});" +
                    "clearInterval(interval_" + Model.UniqueID.Replace("-", "") + ");" +
                "}" +
            "},100);" +
        "</script>";

        @Html.Raw(reCAPTCHAV3Script);
    }

    <div class="form contact-form ajax-wrap">
        <div class="inner @(Model.FormBgColorClass) @(Model.FormColorLabel)-text">
            <form asp-action="SubmitForm" asp-controller="ContactFormSurface"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-loading="#FormLoading_@Model.UniqueID">
                @Html.HiddenFor(m => Model.GlobalSettingsID)
                @Html.HiddenFor(m => Model.UniqueID)
                @Html.HiddenFor(m => Model.PageName)
                @Html.HiddenFor(m => Model.FormSubscriberListID)
                @Html.HiddenFor(m => Model.ContactRecipientEmailAddress)
                @Html.HiddenFor(m => Model.ThemeFolder)

                @if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
                {
                    @Html.Hidden(reCAPTCHAV3responseId)
                }

                @if (Model.FormHeading.HasValue() || Model.FormIntroduction.HasValue() || Model.FormSecondaryHeading.HasValue())
                {
                    <div class="info short-margin-bottom">

                        @await Html.PartialAsync(Model.ThemeFolder + "/MiscPageElements/Headings", new ViewDataDictionary(ViewData) { { "headingOrder", Model.HeadingOrder }, { "animation", null }, { "heading", Model.FormHeading }, { "secondaryHeading", Model.FormSecondaryHeading }, { "backgroundColorLabel", Model.FormColorLabel } })

                        @if (Model.FormIntroduction.HasValue())
                        {
                            <div class="text @(Model.FormColorLabel)-text">
                                @Html.Raw(Model.FormIntroduction)
                            </div>
                        }
                    </div>
                }



                <div class="form-inner">

                    <div class="alert alert-danger mb-3" id="FormError_@Model.UniqueID" style="display:none" role="alert" aria-atomic="true">
                    </div>

                    <div id="Form_@Model.UniqueID">
                        <fieldset>
                            <!-- ROW -->
                            <div class="row">
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="FirstName" class="control-label" aria-hidden="true">
                                        @Umbraco.GetDictionaryValue("USN Form First Name Label") <em class="req">*</em>
                                    </label>
                                    @Html.TextBoxFor(x => Model.FirstName, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form First Name Label"), aria_required = "true", placeholder = Umbraco.GetDictionaryValue("USN Form First Name Label") })
                                    @Html.ValidationMessageFor(x => Model.FirstName, Umbraco.GetDictionaryValue("USN Form First Name Validation"), new { role = "alert", aria_atomic = "true", id="FirstName-error" })
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="LastName" class="control-label">
                                        @Umbraco.GetDictionaryValue("USN Form Last Name Label") <em class="req">*</em>
                                    </label>
                                    @Html.TextBoxFor(x => Model.LastName, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Last Name Label"), aria_required = "true", placeholder = Umbraco.GetDictionaryValue("USN Form Last Name Label") })
                                    @Html.ValidationMessageFor(x => Model.LastName, Umbraco.GetDictionaryValue("USN Form Last Name Validation"), new { role = "alert", aria_atomic = "true", id="LastName-error" })
                                </div>
                            </div>
                            <!--// ROW -->
                            <!-- ROW -->
                            <div class="row">
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="Email" class="control-label" aria-hidden="true">
                                        @Umbraco.GetDictionaryValue("USN Form Email Address Label") <em class="req">*</em>
                                    </label>
                                    @Html.TextBoxFor(x => Model.Email, new { autocapitalize = "off", @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Email Address Label"), aria_required = "true", placeholder = Umbraco.GetDictionaryValue("USN Form Email Address Label") })
                                    @Html.ValidationMessageFor(x => Model.Email, Umbraco.GetDictionaryValue("USN Form Email Address Validation"), new { role = "alert", aria_atomic = "true", id="Email-error" })
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="Telephone" class="control-label" aria-hidden="true">
                                        @Umbraco.GetDictionaryValue("USN Form Telephone Label")
                                    </label>
                                    @Html.TextBoxFor(x => Model.Telephone, new { @type = "tel", @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Telephone Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Telephone Label") })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Message" class="control-label" aria-hidden="true">
                                    @Umbraco.GetDictionaryValue("USN Form Message Label")
                                </label>
                                @Html.TextAreaFor(model => Model.Message, new { rows = 5, @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Message Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Message Label") })
                            </div>

                            @if (globalSettings.EmailMarketingPlatform.HasValue() && globalSettings.NewsletterApikey.HasValue() && (globalSettings.DefaultNewsletterSubscriberListID.HasValue() || Model.FormSubscriberListID.HasValue()))
                            {
                                <div class="form-group checkbox">
                                    <label for="NewsletterSignup">@Html.CheckBoxFor(x => Model.NewsletterSignup, new { @class = "form-control" }) @Umbraco.GetDictionaryValue("USN Form Newsletter Signup Label")</label>
                                </div>
                            }

                            @if (globalSettings.GoogleReCaptchaversion == "V2" && globalSettings.GoogleReCaptchasiteKey.HasValue() && globalSettings.GoogleReCaptchasecretKey.HasValue())
                            {
                                <div class="g-recaptcha" data-sitekey="@globalSettings.GoogleReCaptchasiteKey" data-size="@Model.CaptchaDataSize"></div>
                            }

                        </fieldset>
                        <div class="buttons">
                            <button role="button" class="btn @Model.FormButtonColorClass @Model.FormButtonHoverColorClass @(Model.FormButtonColorLabel)-btn-text @(Model.FormButtonColorLabel)-btn-borders" type="submit">
                                <span></span>
                                @(Model.FormButtonText.HasValue() ? Model.FormButtonText : @Umbraco.GetDictionaryValue("USN Form Submit Button"))
                            </button>
                        </div>

                        @if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
                        {
                            <div class="note-recaptcha @(Model.FormColorLabel)-text">
                                <p class="small">@Html.Raw(Umbraco.GetDictionaryValue("USN Form reCAPTCHA V3 Disclaimer"))</p>
                            </div>
                        }

                        <div class="ajax-loading" id="FormLoading_@Model.UniqueID" style="display:none">
                            <div class="loading">
                                <span class="message">@Umbraco.GetDictionaryValue("USN Contact Form Sending Message")</span>
                            </div>
                        </div>
                    </div>

                    <div id="SubmissionMessage_@Model.UniqueID" style="display:none">
                        <div class="alert alert-success" role="alert" aria-atomic="true"><div class="info">@Html.Raw(Model.FormSubmissionMessage)</div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert" aria-atomic="true">
        <p>@Html.Raw(Umbraco.GetDictionaryValue("USN Contact Form Email Missing Error"))</p>
    </div>
}


