@inherits UmbracoViewPage<ResetPasswordFormViewModel>
@using USNSiteBuilder.Core.Models
@using USNSiteBuilder.Core.Extensions
@if (!Model.TokenInvalid && !Model.TokenExpired)
{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Umbraco.Content(Model.GlobalSettingsID);

    var reCAPTCHAV3responseId = "ReCAPTCHAV3_Response_" + Model.UniqueID;

    if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
    {
        var reCAPTCHAV3Script = "<script>" +
            "var interval_" + Model.UniqueID.Replace("-", "") + " = setInterval(function() {" +
                "if(window.grecaptcha){" +
                    "grecaptcha.ready(function () { " +
                        "grecaptcha.execute('" + globalSettings.GoogleReCaptchav3SiteKey + "', { action: 'reset_password'}).then(function(token) {" +
                        "document.getElementById('" + reCAPTCHAV3responseId + "').value = token;" +
                        "});" +
                    "});" +
                    "clearInterval(interval_" + Model.UniqueID.Replace("-", "") + ");" +
                "}" +
            "},100);" +
        "</script>";

        @Html.Raw(reCAPTCHAV3Script);
    }

    <div class="form password-reset-form ajax-wrap">
        <div class="inner @(Model.FormBgColorClass) @(Model.FormColorLabel)-text">
            <form asp-action="HandleResetPasswordSubmit" asp-controller="MemberSurface"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-loading="#FormLoading_@Model.UniqueID">
                @Html.HiddenFor(m => Model.GlobalSettingsID)
                @Html.HiddenFor(m => Model.UniqueID)
                @Html.HiddenFor(m => Model.MemberID)
                @Html.HiddenFor(m => Model.Token)

                @if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
                {
                    @Html.Hidden(reCAPTCHAV3responseId)
                }

                @if (Model.FormHeading.HasValue() || Model.FormIntroduction.HasValue() || Model.FormSecondaryHeading.HasValue())
                {
                    <div class="info short-margin-bottom">


                        @await Html.PartialAsync(Model.ThemeFolder + "/MiscPageElements/Headings", new ViewDataDictionary(ViewData) { { "headingOrder", Model.HeadingOrder }, { "animation", null }, { "heading", Model.FormHeading }, { "secondaryHeading", Model.FormSecondaryHeading }, { "backgroundColorLabel", Model.FormColorLabel } })


                        @if (Model.FormIntroduction.HasValue())
                        {
                            <div class="text @(Model.FormColorLabel)-text">
                                @Html.Raw(Model.FormIntroduction)
                            </div>
                        }

                    </div>
                }

                <div class="form-inner">
                    <div class="alert alert-danger mb-3" id="FormError_@Model.UniqueID" style="display:none" role="alert" aria-atomic="true">
                    </div>
                    <div id="Form_@Model.UniqueID">
                        <fieldset>
                            <div class="form-group">
                                <label for="NewPassword" class="control-label" aria-hidden="true">
                                    @Umbraco.GetDictionaryValue("USN Password Reset Form New Password Label") <em class="req">*</em>
                                </label>
                                @Html.PasswordFor(x => Model.NewPassword, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Password Reset Form New Password Label"), aria_required = "true", placeholder = Umbraco.GetDictionaryValue("USN Password Reset Form New Password Label") })
                                @Html.ValidationMessageFor(x => Model.NewPassword, Umbraco.GetDictionaryValue("USN Password Reset Form New Password Validation"), new { role = "alert", aria_atomic = "true", id="NewPassword-error" })

                                <!-- Show hide password -->
                                <div class="show-password" aria-hidden="true">
                                    <label for="password-toggle">
                                        <span class="d-none">Password toggle</span>
                                        <input tabindex="-1" id="password-toggle" name="password-toggle" type="checkbox" onclick="showPasswordFunction('NewPassword')">
                                        <span>
                                            <i aria-hidden="true" class="icon usn_ion-md-eye"></i>
                                            <i aria-hidden="true" class="icon usn_ion-md-eye-off"></i>
                                        </span>
                                    </label>
                                </div>
                                <!--// Show hide password -->
                            </div>


                            @if (globalSettings.GoogleReCaptchaversion == "V2" && globalSettings.GoogleReCaptchasiteKey.HasValue() && globalSettings.GoogleReCaptchasecretKey.HasValue())
                            {
                                <div class="g-recaptcha" data-sitekey="@globalSettings.GoogleReCaptchasiteKey" data-size="@Model.CaptchaDataSize"></div>
                            }
                        </fieldset>
                        <div class="buttons">
                            <button role="button" class="btn btn-block @Model.FormButtonColorClass @Model.FormButtonHoverColorClass @(Model.FormButtonColorLabel)-btn-text @(Model.FormButtonColorLabel)-btn-borders" type="submit">
                                <span></span>
                                @(Model.FormButtonText.HasValue() ? Model.FormButtonText : Umbraco.GetDictionaryValue("USN Reset Password Form Button Text"))
                            </button>
                        </div>

                        @if (globalSettings.GoogleReCaptchaversion == "V3" && globalSettings.GoogleReCaptchav3SiteKey.HasValue() && globalSettings.GoogleReCaptchav3SecretKey.HasValue())
                        {
                            <div class="note-recaptcha @(Model.FormColorLabel)-text">
                                <p class="small">@Html.Raw(Umbraco.GetDictionaryValue("USN Form reCAPTCHA V3 Disclaimer"))</p>
                            </div>
                        }

                        <div class="ajax-loading" id="FormLoading_@Model.UniqueID" style="display:none">
                            <div class="loading">
                                <span class="message">@Umbraco.GetDictionaryValue("USN Reset Request Form Sending Message")</span>
                            </div>
                        </div>
                    </div>

                    <div id="SubmissionMessage_@Model.UniqueID" style="display:none">
                        <div class="alert alert-success" role="alert" aria-atomic="true"><div class="info">@Html.Raw(Model.FormSubmissionMessage)</div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
else if (Model.TokenInvalid)
{
    <div class="alert alert-danger" role="alert" aria-atomic="true">
        <p>@Html.Raw(Umbraco.GetDictionaryValue("USN Password Reset Form Token Invalid"))</p>
    </div>
}
else if (Model.TokenExpired)
{
    <div class="alert alert-danger" role="alert" aria-atomic="true">
        <p>@Html.Raw(Umbraco.GetDictionaryValue("USN Password Reset Form Token Expired"))</p>
    </div>
}